[ req ]
default_bits       = 2048
prompt             = no
default_md         = sha256
distinguished_name = req_distinguished_name
req_extensions     = req_ext

[ req_distinguished_name ]
CN = 10.109.8.211

[ req_ext ]
subjectAltName = IP:10.109.8.211
